{% extends 'home.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<header>
    <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../media/logo/tlo.jpg');
      height: 100vh;
    "
  >
{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="d-grid gap-2 col-1 mx-auto">
    <input type="submit" class="btn btn-primary btn-block" name="" id="" value="Change my password" />
    </div>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    </div>
    </header>
{% endif %}
{% endblock %}