{% extends 'home.html' %}

{% block content %}
    <header>
    <div
    class="p-5 text-center bg-image text-white"
    style="
      background-image: url('../../media/logo/tlo.jpg');
      height: 100vh;
    "
  >
    {% if booking_success %}
    <em>You have successfully created a booking for this car. Someone from our staff will contact you shortly.</em>
        <a href="/carservice/rateorder" class="btn btn-primary">Rate your order</a>
    {% endif %}
<div class="text-center" style="font-size:35px;">
    <h1 style="font-size:50px; color:#76ea11;">{{ object.car_model }}</h1>
    <div class="container">
            <img src="{{ object.image.url }}"  alt="car image"/>
        </div>
    <p>Rental Base: {{ object.rental_base }}</p>
    <p>Mark: {{ object.car_mark }}</p>
    <p>Color: {{ object.car_color }}</p>
    <p>Seats: {{ object.num_of_seats }}</p>
    <p>${{ object.cost_per_day }} / day</p>

{% if object.is_available %}
<div class="form-check d-flex justify-content-center mb-4">

    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form4Example4"
      checked
    />
<label class="form-check-label" for="form4Example4">
      Available
    </label>
  </div>
    {% else %}
    <div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="inlineCheckbox3"
    value="option3"
    disabled
  />
  <label class="form-check-label" for="inlineCheckbox3">Not available</label>
</div>
{% endif %}
    {% if object.is_available %}
    <a href="{% url 'new_order' car_pk=object.pk %}">Book Now</a>
    {% endif %}
</div>
    </div>
    </header>
{% endblock %}
