{% extends 'home.html' %}

{% block content %}
    <header>
    <div
    class="p-5 text-center bg-image text-white"
    style="
      background-image: url('../../media/logo/tlo.jpg');
      height: 100vh;
    "
  >
<h1 style="color:black;">All employees</h1>

    {% for employee in employees %}
        <p></p>
    <tr>
						<td><a class="btn btn-sm btn-success" href="employee_edit/{{employee.id}}" >Edit</a></td>
						<td>{{employee}}</td>
            <td><a class="btn btn-sm btn-danger" href="employee_delete/{{employee.id}}" >Delete</a></td>
					</tr>
    {% endfor %}
    </div>
    </header>
{% endblock %}
