{% extends 'home.html' %}

{% block content %}
    <header>
    <div
    class="p-5 text-center bg-image text-white"
    style="
      background-image: url('../../media/logo/tlo.jpg');
      height: 100vh;
    "
  >
<h1 style="color:black;">Add new employee's info</h1>
<form action="" class="form-outline mb-4" method="post">{% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-2 col-1 mx-auto">
    <input type="submit" class="btn btn-primary btn-block" name="" id="" value="Accept" />
    </div>
</form>
    </div>
    </header>
{% endblock %}
