{% extends 'home.html' %}
{% block content %}
    <header>
    <div
    class="p-5 text-center bg-image text-white"
    style="
      background-image: url('../../media/logo/tlo.jpg');
      height: 100vh;
    "
  >
<h2 style="color:black;">Add your info {{ user.username }}</h2>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary btn-block" name="" id="" value="Accept" />
<div id="emailHelp" class="form-text">We'll never share your info with anyone else.</div>
</form>
    </div>
    </header>
{% endblock %}
